:root {
  --primary-black: #000;
  --primary-white: #fff;
  --primary-background: #1a1a1a;
  --secondary-background: #333;
  --accent-background: #f8f8f8;
  --primary-orange: #ffa600;
  --primary-blue: #0059ff;
  --light-grey: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 10px);
}

body {
  background-color: var(--primary-background);
  font-family: "poppins";
}

header {
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li a {
  text-decoration: none;
  color: black;
  transition: color .25s;
}

.navbar li:hover a{
  color: var(--primary-orange);
}

#menu-btn,
#menu-btn-label {
  display: none;
}
main {
  padding-inline: 10px;
}

section {
  width: 100%;
}

.hero-section {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hero-text {
  width: 60%;
  color: var(--light-grey);
}

.hero-text h1 {
  font-size: 2.5rem;
}
.hero-text h3 {
  font-weight: 200;
  font-size: 1.5rem;
}

#hero-name-text {
  color: var(--primary-orange);
}

.hero-image-container {
  width: 40%;
}

.hero-image {
  max-width: 100%;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--primary-blue);
}

.about-section {
  display: flex;
  align-items: center;
  background-color: var(--accent-background);
  padding-block: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-section-image-container {
  width: 40%;
}

.about-section-image-container img {
  max-width: 100%;
}

.about-section-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding-inline: 10px;
  color: var(--primary-black);
}

.section-title {
  color: var(--primary-orange);
  position: relative;
  margin-bottom: 10px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 90%;
  background-color: var(--primary-orange);
  border-radius: 10px;
}

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.education-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.education-details {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-details .line {
  width: 10px;
  height: calc(5 * 90px);
  border-radius: 10px;
  background-color: var(--secondary-background);
  position: relative;
}

.education-depth-details {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 500px;
}

.education-depth-details div {
  display: flex;
  flex-direction: column;
  transform-origin: center;
  position: absolute;
}

.education-depth-details div:nth-child(1) {
  top: 45px;
  right: calc(50% + 25px);
}
.education-depth-details div:nth-child(2) {
  top: 135px;
  left: calc(50% + 25px);
}

.education-depth-details div:nth-child(3) {
  bottom: 185px;
  right: calc(50% + 25px);
}

.education-depth-details div:nth-child(4) {
  bottom: 90px;
  left: calc(50% + 25px);
}

.education-depth-details div::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-orange);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.education-depth-details div:nth-child(odd)::after {
  right: -30px;
}
.education-depth-details div:nth-child(even)::after {
  left: -30px;
}

.education-depth-details div span {
  color: var(--light-grey);
  text-wrap: wrap;
  width: 250px;
}

.education-container div:nth-child(odd) span {
  text-align: right;
}
.education-container div:nth-child(even) span {
  text-align: left;
}

b {
  color: var(--primary-orange);
}

.education-image-container {
  width: 40%;
}

.education-image-container img {
  width: 100%;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.project-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.project-container div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: filter 0.25s;
  border-radius: 10px;
  position: relative;
}

.project-container div:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  z-index: 1;
}

.project-name {
  border: 1px solid var(--primary-orange);
  width: 80%;
  padding: 8px 5px;
  background-color: #000000a9;
  border-radius: 10px;
  transition: background-color 0.25s;
  z-index: 2;
}

.project-name:hover {
  background-color: var(--primary-orange);
}

.project-anchor {
  text-decoration: none;
  color: var(--primary-orange);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.25s;
}

.project-name:hover .project-anchor {
  color: var(--primary-black);
}

.project-1 {
  background: url(assest/jokes.jpg) center/cover;
}
.project-2 {
  background: url(assest/todo.jpg) center/cover;
}
.project-3 {
  background: url(assest/amazon.jpg) center/cover;
}
.project-4 {
  background: url(assest/netflix.jpg) center/cover;
}

.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 10px;
}

.resume-container {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.resume-image-container {
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-image-container img {
  width: 100%;
}

.resume-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-details p {
  color: var(--light-grey);
  padding-block: 20px;
  text-align: center;
  border-radius: 10px;
}

.resume-details a {
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
}

.resume-details a:hover {
  background-color: var(--primary-blue);
  color: var(--light-grey);
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: calc(100dvh - var(--header-height));
  }

  .hero-text {
    width: 100%;
    color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text h3 {
    font-size: 1rem;
  }

  #hero-name-text {
    color: var(--primary-orange);
  }

  .hero-image-container {
    width: 40%;
  }

  .hero-image {
    max-width: 100%;
  }

  .education-image-container {
    display: none;
  }
  .education-depth-details div:nth-child(odd)::after {
    right: -20px;
  }
  .education-depth-details div:nth-child(even)::after {
    left: -20px;
  }
  .education-depth-details div:nth-child(1) {
    top: 45px;
    right: calc(50% + 15px);
  }
  .education-depth-details div:nth-child(2) {
    top: 140px;
    left: calc(50% + 15px);
  }

  .education-depth-details div:nth-child(3) {
    bottom: 190px;
    right: calc(50% + 15px);
  }

  .education-depth-details div:nth-child(4) {
    bottom: 90px;
    left: calc(50% + 15px);
  }

  .education-depth-details div span {
    font-size: .9rem;
    text-wrap: wrap;
    width: 250px;
  }

  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {

  #menu-btn-label {
    display: inline;
  }

  #menu-btn:checked + .navbar {
    transform: scaleY(1);
  }

  .navbar {
    position: absolute;
    border-top: 1px solid rgb(34, 34, 34);
    flex-direction: column;
    background-color: var(--primary-blue);
    top: var(--header-height);
    left: 0;
    width: 100%;
    align-items: center;
    transform: scaleY(0);
    gap:10px;
    transform-origin: top;
    transition: transform 0.25s;
    padding-block: 10px;
  }
  .hero-section {
    flex-direction: column;
    padding: 0;
    height: calc(100dvh - var(--header-height));
    gap: 20px;
  }

  .hero-text {
    width: 100%;
    color: var(--light-grey);
    text-align: center;
  }

  .hero-text h1 {
    font-size: 1.5rem;
  }
  .hero-text h3 {
    font-size: 0.8rem;
  }

  #hero-name-text {
    color: var(--primary-orange);
  }

  .hero-image-container {
    width: 80%;
  }

  .hero-image {
    max-width: 100%;
  }

  .about-section-image-container {
    display: none;
  }

  .section-title {
    align-self: center;
  }

  .education-depth-details div span {
    font-size: 0.7rem;
    text-wrap: wrap;
    width: 150px;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
